.titlestyle166994{ font-size: 9pt; color: #222222; line-height: 150%; text-decoration: none ;}
.buttonstyle166994{ font-size: 9pt ;}
.summarystyle166994{ font-size: 9pt ;}
.clickstyle166994{ font-size: 9pt ;}
.winstyle166994{ font-size: 9pt ;}
.headstyle166994{ font-weight: bold; font-size: 9pt ;}

